*__pycache__
./scripts/plots/
*.png
*.root
*.DS_Store
./scripts/outputs
*.swp
*.parquet
*.root
scripts/wandb/*
scripts/BDT_Training/*
*.out
./combine/*h4g*datacard*BR*.txt
*.pyc
scripts/*.sh
scripts/*.sub
scripts/*.log
scripts/*.root
*.txt
*.xgb
scripts/MC_checks
scripts/chi2_checks.json
scripts/dataset/
scripts/plots/
scripts/tmp_dataset.json

